{% extends 'base.html' %}

{% block content %}
	<div id="div-menubar" class="top-div">
		<a href="/?pagemode=admin" id="TopA-admin" onclick="loadMode('admin'); return false">admin</a>
		<a href="/?pagemode=wiki" id="TopA-wiki" onclick="loadMode('wiki'); return false">wiki</a>
		<!-- a href="/?pagemode=networking" id="TopA-networking" onclick="loadMode('networking'); return false">networking</a -->
		<div class="div-top-status" id="div-top-status">
			this is for the status info (ie: git status)
		</div>
	</div>
	
	<div id="div-body" class="div-body">
		<script>
			loadMode('{{parameters['pagemode']}}');
			{% for item in parameters %}
				{{item}} = '{{parameters[item]}}'
			{% endfor %}
		</script>
	</div>
{% endblock content %}
